---
import { Image } from "astro:assets";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import TimelineItem from "../components/TimelineItem.astro";
import Project from "../components/Project.astro";
import CardService from "../components/CardService.astro";
import EXPERIENCES from "../assets/collections/experiences.json";
import PROJECTS from "../assets/collections/projects.json";
import SERVICES from "../assets/collections/services.json";
import HireServiceModal from "../components/HireServiceModal.astro";
import testCharacter from "../assets/imgs/person-photo-placeholder-woman-default-avatar-profile-icon-grey-photo-placeholder-female-no-photo-images-for-unfilled-user-profile-greyscale-illustration-for-social-media-free-vector.jpg";
import Contacts from "../components/Contacts.astro";
import Hero from "../components/Hero.astro";

const publishedTeamMembers = [
  {
    data: {
      draft: false,
      name: "Luboš Hlaváček",
      title: "Vedoucí učitel",
      avatar: {
        src: testCharacter,
        alt: "Luboš Hlaváček",
      },
      publishDate: "2025-01-01 15:39",
    },
  },
  {
    data: {
      draft: false,
      name: "Lenka Burdová",
      title: "Učitelka teorie & praktického výcviku",
      avatar: {
        src: testCharacter,
        alt: "Lenka Burdová",
      },
      publishDate: "2025-01-02 15:39",
    },
  },
  {
    data: {
      draft: false,
      name: "Ilona Švárová",
      title: "Učitelka praktického výcviku",
      avatar: {
        src: testCharacter,
        alt: "Ilona Švárová",
      },
      publishDate: "2025-01-03 15:39",
    },
  },
  {
    data: {
      draft: false,
      name: "Pavla Hlaváčková",
      title: "Administrativa",
      avatar: {
        src: testCharacter,
        alt: "Pavla Hlaváčková",
      },
      publishDate: "2025-01-04 15:39",
    },
  },
  {
    data: {
      draft: false,
      name: "Lenka Bártová",
      title: "Instruktor zdravotní průpravy",
      avatar: {
        src: testCharacter,
        alt: "Lenka Bártová",
      },
      publishDate: "2025-01-05 15:39",
    },
  },
];
---

<Layout>
  <section id="home" class="flex flex-col scroll-mt-[100px]">
    <Hero />

    <article class="text-gray-950 dark:text-white text-pretty mx-auto">
      <div class="flex flex-col gap-6">
        <div class="flex flex-col sm:flex-row gap-4 overflow-hidden relative">
          <!-- KARTA 1 -->
          <Card className="card">
            <div
              class="rounded-full p-4 grid place-content-center bg-blue-50 text-blue-500 dark:bg-blue-950/30 dark:text-blue-700 w-fit"
            >
              <!-- Ikona lze změnit za jinou, prozatím zachována -->
              <svg
                class="w-8 h-8"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect x="2" y="2" width="20" height="20" rx="2" ry="2"></rect>
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M8 7h8M8 11h8M8 15h8"></path>
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M8 7v.01M8 11v.01M8 15v.01"></path>
              </svg>
            </div>
            <h2 class="font-semibold text-lg sm:text-xl md:text-2xl">
              Daňové poradenství
            </h2>
            <p class="text-gray-700 dark:text-gray-300 text-lg">
              Pomůžeme vám s optimalizací daňových povinností, zastupováním při
              jednání s finančními úřady a s kompletním vyřízením DPH, daní z
              příjmů fyzických i právnických osob.
            </p>
          </Card>

          <!-- KARTA 2 -->
          <Card className="card">
            <div
              class="rounded-full p-4 grid place-content-center bg-yellow-50 text-yellow-500 dark:bg-yellow-950/30 dark:text-yellow-700 w-fit"
            >
              <!-- Ikona lze změnit za jinou, prozatím zachována -->
              <svg
                class="w-8 h-8"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect x="2" y="2" width="20" height="20" rx="2" ry="2"></rect>
                <rect x="6" y="6" width="12" height="4" rx="1" ry="1"></rect>
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 12h2M10 12h2M14 12h2M6 16h2M10 16h2M14 16h2"></path>
              </svg>
            </div>
            <h2 class="font-semibold text-lg sm:text-xl md:text-2xl">
              Účetnictví a daňová evidence
            </h2>
            <p class="text-gray-700 dark:text-gray-300 text-lg">
              Komplexní vedení účetnictví pro podnikatele, firmy i neziskové
              organizace. Zpracování daňové evidence, silniční daně a dalších
              povinných přiznání.
            </p>
          </Card>
        </div>
      </div>
    </article>
  </section>

  <!-- SEKCE O NÁS -->
  <section id="about" class="flex flex-col mt-12 scroll-mt-[100px]">
    <h2 class="font-bold text-xl sm:text-2xl mb-6">Kdo jsem</h2>
    <Card className="flex flex-col text-gray-600 dark:text-gray-400 h-fit">
      <div class="flex flex-col gap-4 text-sm sm:text-base p-1">
        <p class="text-gray-700 dark:text-gray-300 text-lg">
          Jsem Ing. Jana Polívková a již více než 15 let se věnuji daňovému a
          účetnímu poradenství. Pracuji s důrazem na preciznost, důvěryhodnost a
          otevřenou komunikaci.
        </p>
        <p class="text-gray-700 dark:text-gray-300 text-lg mb-6">
          Věřím, že kvalitní účetní a daňová firma musí být spolehlivá,
          transparentní a flexibilní. Pro mě je zásadní individuální přístup ke
          každému klientovi a dodržování etických zásad, které mi umožňují
          pečlivě řešit každý detail.
        </p>
        <p class="text-gray-700 dark:text-gray-300 text-lg">
          Sídlo mé kanceláře se nachází ve Vlašimi a nabízím poradenství pro
          fyzické i právnické osoby po celém Středočeském kraji. Ráda vám pomohu
          najít ta nejlepší řešení pro vaše účetní a daňové potřeby.
        </p>
      </div>
    </Card>
  </section>

  <section id="team" class="mt-12 scroll-mt-[100px]">
    <div class="flex flex-col mx-auto">
      <h2 class="font-bold text-xl sm:text-2xl mb-6">Náš tým</h2>
      <Card className="flex flex-col text-gray-600 dark:text-gray-400 h-fit">
        <div class="flex flex-col gap-4 text-sm sm:text-base p-1">
          <p class="text-gray-700 dark:text-gray-300 text-lg">
            Naše účetní firma se může pochlubit týmem zkušených profesionálů,
            kteří se specializují na komplexní účetnictví a daňové poradenství.
            Každému klientovi věnujeme individuální péči, dbáme na preciznost a
            dodržování nejvyšších etických standardů. S námi máte jistotu, že
            vaše finance jsou v bezpečných rukou.
          </p>
        </div>
      </Card>
      <p class="text-lg leading-relaxed text-slate-500"></p>
    </div>
    <div
      class="grid md:grid-cols-4 sm:grid-cols-2 gap-10 mx-auto max-w-4xl mt-12"
    >
      {
        publishedTeamMembers.map((teamMemberEntry) => (
          <div class="group" style="max-width: 220px; margin: 0 auto;">
            <div class="w-full aspect-square">
              <Image
                quality="low"
                src={teamMemberEntry.data.avatar.src}
                alt={teamMemberEntry.data.avatar.alt}
                width={400}
                height={400}
                sizes="(max-width: 800px) 100vw, 400px"
                class="w-full max-h-fit object-cover rounded-md transition group-hover:-translate-y-1 group-hover:shadow-xl aspect-square"
              />
            </div>
            <div class="mt-4 text-center">
              <h3 class="text-lg text-gray-800">{teamMemberEntry.data.name}</h3>
              <p class="text-sm text-slate-500">{teamMemberEntry.data.title}</p>
            </div>
          </div>
        ))
      }
    </div>
  </section>

  <Contacts />
</Layout>

<script>
  import { animate, inView, stagger } from "motion";

  window.addEventListener("DOMContentLoaded", () => {
    inView("#services", () => {
      animate(
        ".card-service",
        {
          transform: ["translateY(100%)", "translateY(0)"],
        },
        {
          delay: stagger(0.2),
          duration: 0.6,
        }
      );
    });
  });
</script>
